version: '3'

services:
    texture:
        build:
            context: .
            dockerfile: Dockerfile.texture
            args:
                commit: "${TEXTURE_COMMIT}"
        image: elifesciences/sciencebeam_texture:${TEXTURE_COMMIT}
        command: npm start
        ports:
            - "4000:4000"
    sciencebeam:
        build:
            context: .
            dockerfile: Dockerfile.sciencebeam
            args:
                commit: "${SCIENCEBEAM_COMMIT}"
        image: elifesciences/sciencebeam:${SCIENCEBEAM_COMMIT}
        command: /bin/bash
        volumes:
            - ./.temp:/home/sciencebeam/data
        depends_on:
            - grobid
    grobid:
        image: lfoppiano/grobid:0.5.1
        ports:
            - "8070:8070"


