version: '3'

services:
    web:
        image: nginx:1.13.7
        ports:
            - "8000:80"
        volumes:
            - ./config/nginx-default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - texture
    texture:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                dependencies_sciencebeam: "${SCIENCEBEAM_COMMIT}"
        image: elifesciences/sciencebeam_texture:${IMAGE_TAG}
        command: npm run start:prod
        ports:
            - "4000:4000"
        depends_on:
            - sciencebeam
    sciencebeam:
        image: elifesciences/sciencebeam:${SCIENCEBEAM_COMMIT}
        command: ./server.sh \
            --host=0.0.0.0 --port=8075 \
            --grobid-url http://grobid:8070/api \
            --grobid-action /processHeaderDocument
        ports:
            - "8075:8075"
        networks:
            - default
            - grobid
        depends_on:
            - grobid
    grobid:
        image: lfoppiano/grobid:${GROBID_TAG}
        environment:
            - JAVA_OPTS=-Xmx1g
        ports:
            - "8070:8070"
        networks:
            - grobid

networks:
    default:
        internal: false
    grobid:
        internal: true
